body {
    background: #ffffff;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 9px;
    max-width: 350px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    position: relative;
  }

  .container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 380px;

  }

  .title {
    font-size: 28px;
    color: #9A8174;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    text-align: center;
  }

  .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }

  .signin {
    text-align: center;
  }

  .signin a {
    color: #9A8174;
  }

  .signin a:hover {
    text-decoration: underline #3B3B3B;
  }

  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }

  .form label {
    position: relative;
  }

  .form label .text_input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }

  .signup {
    border: none;
    outline: none;
    background-color: #9A8174;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
  }

  .signup:hover {
    background-color: #3B3B3B;
    cursor: pointer;
  }

  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }

    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }

  .login_image {
    max-width: 600px;
    height: 480px;

  }

  form i {
    margin-left: -35px;
    cursor: pointer;
  }